.name label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.percentofflabel {
  /* color: #9ccb3c; */
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}
.carticon {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.cartdiv {
  background: "#fff";
  padding: "5px";
  border-radius: "10px";
}
.ant-card-body {
  padding: 0px !important
}
.circle-image{
  border-radius: 50px;
}
