@import "~antd/dist/antd.css";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.text-color {
  color: #d0b369;
}

* {
  box-sizing: border-box;
}

.flexBetween {
  display: "flex";
  justify-content: "space-around";
  margin: "0px 15px";
}

.ant-card-body {
  padding: 0px !important
}

.circle-image {
  border-radius: 50px !important;
  cursor: pointer !important;
}

.ant-menu-horizontal {
  border-bottom: 0px !important;
}

.top-link a {
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
  color: #d0b369 !important;
  text-decoration: none !important;
}

.bottom-link a {
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
  color: #d0b369 !important;
  text-decoration: none !important;
}

.auth-link a {
  color: #d0b369;
  text-decoration: none;
}

.top-social a {
  text-decoration: none;
  color: #fff;
}

.top-social a:hover {
  text-decoration: none;
  color: #fff;
}

.sticky_whatsapp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  z-index: 9999;
}

.sticky_whatsapp i {
  font-size: 64px;
  color: #01e576;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 49%;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #d0b369;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loading-container {

  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #000 !important;
}

.ant-btn.ant-btn-block a {
  color: #FFF;
}

.ant-btn.ant-btn-block {
  border-color: #000;
}

.ant-btn-primary {
  border-color: #000 !important;
  background: #000 !important;
}

.ant-menu-horizontal>.ant-menu-item a:hover {
  color: #d0b369 !important;
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected {
  border-color: #000 !important;
}

.ant-menu-horizontal>.ant-menu-item-selected a {
  color: #000;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: #000;
}

.btn-primary {
  color: #fff;
  background-color: #000 !important;
  border-color: #000 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #d0b369 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after{
  border-bottom-color: #d0b369 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after{
  border-bottom-color: #d0b369 !important;

}