
.mainContainer{
  padding: 20px 0px;
}
.carddiv{
  display: flex;
}

.sidebarmenu_backdrop {
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000;
}


.carouselStyles{
  padding : 5px;
}


.image-container {
    width: 50vw;
    height: 50vh;
    position: relative;

    .image {
        width: 100%;
        height: 100%;
        position: relative !important;
        object-fit: cover;
    }
}
